body{font-family:Georgia,'Times New Roman',Times,serif;font-size:18px;}
.full-width{width:100%}
.v-middle{font-size:10px;vertical-align:middle;}
.v-bottom{vertical-align:bottom;}
.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.deferred{text-decoration:line-through!important;}
.clean{text-decoration:none!important;}
  #scroll{background-color:rgba(0,0,0,.65);color:white;cursor:pointer;font-family:'Courier New',Courier,monospace;font-size:14px;left:0;padding:1px 3px;padding-right:0px;position:fixed;top:0;}
    #scroll-status{background-color:rgba(194,0,26,.5);padding:1px 3px;}
  #suggestions{background-color: #BE4BDB;color: white;cursor: pointer;font-family:sans-serif;font-size: 15px;right: 0;padding: 3px;position: fixed;top: 0;}
    #suggestions .fa-comment{font-size:15px;vertical-align:top;}
    #suggestion-box{background-color:rgba(0,0,0,.6);display:none;height:100%;left:0;padding-top:100px;position:fixed;top:0;width:100%;z-index:1;}
      #suggestion-form{background-color:white;margin:0 auto;padding:20px 30px 50px;position:relative;width:40%}
        #suggestion-send{background-color:#2F56A6;border:0;color:white;cursor:pointer;font-size:18px;padding:10px 0;width:100%;}
        #suggestion-close{cursor:pointer;font-size:40px;margin:5px 10px;position:absolute;top:0;right:0;}
  #seal-header{margin:100px 0 50px;}
    #seal-header img{width:100px;}
  #agenda-container{margin:0 auto;width:75%}
    .agenda{margin:50px auto;}
    .agenda:first-child{margin:0px auto 50px;}
      .hbody,.hbody-chair,.hlocation,.htime{border-bottom:2px dotted #999;}
      .hbody span,.hlocation span{background-color:white;margin-left:-1px;padding:0px 2px 3px;}
      .hbody-chair span,.htime span{background-color:white;margin-right:-1px;padding:0px 2px 3px;}
      .hbody{text-decoration:underline;}
      .hbody-chair{}
      .hlocation{}
      .htime{}
      .hevent-items{padding:25px 20px;}
        ul.event-list-items{border:1px solid #666;max-height:150px;overflow-y:scroll;padding:15px 0 15px 40px;}
        ul.event-list-items.scrollable::-webkit-scrollbar {width:10px;}
        ul.event-list-items.scrollable::-webkit-scrollbar-track{background:#f1f1f1;}
        ul.event-list-items.scrollable::-webkit-scrollbar-thumb{background:#888;}
        ul.event-list-items.scrollable::-webkit-scrollbar-thumb:hover{background:#555;}
    hr{margin:0 auto;width:15%;}
