body{font-family:Georgia,'Times New Roman',Times,serif;font-size:18px;}
.full-width{width:100%}
.align-center{text-align:center;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.deferred{text-decoration:line-through!important;}
.clean{text-decoration:none!important;}
  #seal-header{margin:100px 0 50px;}
    #seal-header img{cursor:pointer;width:100px;}
  #agenda-container{margin:0 auto;width:75%}
    .agenda{margin:50px auto;}
    .agenda:first-child{margin:0px auto 50px;}
      .hbody,.hbody-chair,.hlocation,.htime{border-bottom:2px dotted #999;}
      .hbody span,.hlocation span{background-color:white;margin-left:-1px;padding:0px 2px 3px;}
      .hbody-chair span,.htime span{background-color:white;margin-right:-1px;padding:0px 2px 3px;}
      .hbody{text-decoration:underline;}
      .hbody-chair{}
      .hlocation{}
      .htime{}
      .hevent-items{padding:25px 20px;}
        ul.event-list-items{border:1px solid #666;max-height:150px;overflow-y:scroll;padding:15px 0 15px 40px;}
        ul.event-list-items.scrollable::-webkit-scrollbar {width:10px;}
        ul.event-list-items.scrollable::-webkit-scrollbar-track{background:#f1f1f1;}
        ul.event-list-items.scrollable::-webkit-scrollbar-thumb{background:#888;}
        ul.event-list-items.scrollable::-webkit-scrollbar-thumb:hover{background:#555;}
    hr{margin:0 auto;width:15%;}
